<div ng-controller="Tab01Ctrl" class="Tab01">
    <ion-side-menus>
        <ion-side-menu-content drag-content="false">
                <ion-pane>
                    <div class="pdgL8px pdgR8px pdgT5px">
                        <div class="bar bar-header item-input-inset lk query" ng-click="queryInfo()">
                            <label class="item-input-wrapper backgroundColorWhite">
                                <input id="queryInput" type="search" placeholder="请输入搜索内容" readonly ng-model="$root.queryContext0">
                                <i class="icon ion-ios-search placeholder-icon queryIcon"></i>
                            </label>
                        </div>
                        <button class="button button-small sxButtion lk" ng-click="toggleRight(true)" >筛选</button>
                    </div>
                    <ion-content  header-shrink name="_pub_content_name" scroll-event-interval="5" class="queryListPdg pdgB5px" >
                        <ion-refresher on-refresh="doRefresh()" pulling-text="下拉更新..." spinner="bubbles">
                        </ion-refresher>
                        <show-context-css></show-context-css>
                        <div id="toUp" style="width: 0px;height: 0px;"></div>
                            <ion-list ng-if = "listIsNull == 1 ">
                                <div ng-repeat="item in items" item="item"  class="positionRelative">
                                    <div class="main lk info mgnL10px mgnR10px ofh">
                                        <div class="left descFont ftl leftWidth80" >
                                            <div>
                                                <div class="ftl leftTitle35">
                                                    处置协议编号：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.amId}}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    是否补充协议：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.ifAdditionalName}}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    产生单位：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.enNameCs | StringUtil :22 }}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    运输单位：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.enNameYs | StringUtil :24 }}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    处置单位：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.enNameCz | StringUtil :24 }}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    起止时间：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.begintimeStr}}&nbsp;至&nbsp;{{item.endtimeStr}}
                                                </div>
                                            </div>
                                            <div class="crl">
                                                <div class="ftl leftTitle35">
                                                    操作时间：
                                                </div>
                                                <div class="coreFont ftl listColTwo">
                                                    {{item.actiondateStr}}
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="item.statusName.length > 8">
                                            <show-context divid="{{item.amId}}" width="100" height="58" mtop="-16.5" mleft="66"  ctt="{{ item.statusName}}"></show-context>
                                        </div>
                                        <div ng-if="item.statusName.length <= 8">
                                            <show-context divid="{{item.amId}}" width="100" height="35" mtop="-10" mleft="66"  ctt="{{ item.statusName}}"></show-context>
                                        </div>
                                        <div class="right ftl rightWidth">
                                            <div class="statusCss ftr" title="{{item.statusName}}" ng-style="item.statusName  |  StyleUtil"  on-hold="onHold('{{item.amId}}','{{ item.statusName}}')" on-release="onRelease('{{item.amId}}')">
                                                {{ item.statusName | StringUtil :4 }}
                                            </div>
                                            <div  class="coreFont ftr crr detailInfo" ng-click="listInfo('{{item.amId}}')">
                                                <img src="project/res/img/1_18.png" width="20" height="20">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-list>
                            <div ng-if = "listIsNull == 0 " class="listIsNull">
                                <!--为空 -->
                                <div class="noData"><p class = "listIsNull-font">{{$root.loadData}}</p></div>
                            </div>
                            <ion-infinite-scroll on-infinite="pageRefresh()"  ng-if = "isTrue == 1 " immediate-check="false" distance="0.01%" ></ion-infinite-scroll>
                    </ion-content>
                </ion-pane>
        </ion-side-menu-content>
        <ion-side-menu side="right" class="dbsPage" width="myWidthValue + 234">
            <header class="bar bar-header bar-stable barmy">
                <span class="title" style="color: #e4e5e7;font-size: 15px;">筛选</span>
                <div class="buttons">
                    <a menu-close style="color: #e4e5e7;font-size: 15px;padding-right: 8px;">取消</a>
                </div>
            </header>
            <ion-content class="has-header padding-top-0px">
                    <div class="ion-item-pdg">
                        <div class="item item-input item-select queryHeight">
                            <div class="input-label colorAndSize">
                                状态：
                            </div>
                            <select id="status" class="colorAndSize2" style="padding-top: 30px;font-size: 13px;color: #717171;">
                                <option value="">请选择</option>
                                <option ng-repeat="dict in dicts" value="{{dict.dictId}}">{{dict.dictName}}</option>
                            </select>
                        </div>
                        <div class="item item-input item-date queryHeight">
                            <div class="input-label colorAndSize titleDq">
                                周期起始日：
                            </div>
                            <input type="text" style="font-size: 13px;color: #717171;background-color:white;" readonly  ng-click="openDatePickerOne(1)" value="点击选择日期" id="begDate">
                        </div>
                        <div class="item item-input item-date queryHeight">
                            <div class="input-label colorAndSize titleDq">
                                周期结束日：
                            </div>
                            <input type="text" style="font-size: 13px;color: #717171;background-color:white;"  readonly  ng-click="openDatePickerOne(2)" value="点击选择日期" id="endDate">
                        </div>
                    </div>
            </ion-content>
            <div class="bar bar-footer btnZidx">
                &nbsp;&nbsp;
                <button class="button button-calm buttonMy" ng-click="clearParam()">重置</button>
                &nbsp;&nbsp;
                <button class="button button-calm buttonMy" ng-click="sx()">确定</button>
            </div>
        </ion-side-menu>
    </ion-side-menus>
</div>
